div {}

.App {
  display: flex;
  justify-content: center;
}

.scatola {
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 2px;
}

.row-cart {
  border: solid 2px;
}

.shop-list,
.cart-list {
  flex-grow: 4;
}

.carrello {
  flex-grow: 1;
}

h1 {
  color: black;
  text-align: center;
}

p {
  color: black;
}